
body {
    font-family: Arial, sans-serif;
    margin: 10px;
    background-color: rgb(79, 14, 14);
    font-size: 1.25rem;
}

h1 {
    color: rgb(255, 230, 45);
    text-align: center;
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 1.35rem;
}


.container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    font-size: 1.2rem;
}

.group {
    flex: 1 1 calc(33% - 45px);
    padding: 5px;
    border-radius: 5px;
    padding-left: 15px;
    border: 5px solid rgb(201, 124, 2);
}

.group-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.temp-humidity-windchill {
    background-color: #7fe16e;
}

.wind-speed-gust-direction {
    background-color: #8fd6f6;
}

.solar-uv {
    background-color: #f5c47a;
}

.pressure {
    background-color: #f7acf7;
}

.precip-rate {
    background-color: #f5adad;
}

.group.current-condition { 
    color: #000000; 
    text-align: center;
    font-size: 2rem;
    background-color: gray;
    transition: background-color 2s ease-in-out;
}

.group.current-condition.default-condition { 
    background-color: gray; /* Default gray background */
}

#current-condition  {
    margin: 40px 25px 25px 0;
}

.update-info {
    margin-top: 10px;
    padding: 15px;
    border: 5px solid rgb(201, 124, 2);
    border-radius: 5px;
    background-color: #cd95f7;
}

.update-info p {
    margin: 0;
    margin: 10px 0;
    font-size: 1.1rem;
}

.center {
    text-align: center;
}

.group.current-condition.extreme-cold {
    background-color: darkblue;
    color: white;
}

.group.current-condition.bitter-cold {
    background-color: steelblue;
    color: white;
}

.group.current-condition.freezing {
    background-color: lightblue;
    color: black;
}

.group.current-condition.cold {
    background-color: #87CEFA; /* Light Sky Blue */
    color: black;
}

.group.current-condition.cool {
    background-color: lightgreen;
    color: black;
}

.group.current-condition.comfortable {
    background-color: lightyellow;
    color: black;
}

.group.current-condition.warm {
    background-color: yellow;
    color: black;
}

.group.current-condition.hot {
    background-color: orange;
    color: black;
}

.group.current-condition.very-hot {
    background-color: orangered;
    color: white;
}

.group.current-condition.extreme-heat {
    background-color: red;
    color: white;
}

.group.current-condition.unknown {
    background-color: rgb(119, 99, 99);
    color: white;
}


@media (max-width: 750px) {

    body {
        font-size: 1rem;
    }

    .container p {
        font-size: .85rem;
        margin: 0;
        margin-top: 15px;
    }
    
    h1 {
        font-size: 1.25rem !important; /* Add !important to ensure it applies */
    }

    .group.current-condition {
        font-size: 1.5rem; /* Font size for the general content */
    }
    
    .group.current-condition .group-title { 
        font-size: 1.35rem; /* Font size for the header specifically */
    }
    
    .update-info p {
        margin: 0;
        margin: 10px 0;
        font-size: .85rem;
    }

    #current-condition  {
        margin: 20px 25px 25px 0;
    }

    .update-info {
        margin-top: 10px;
        padding: 5px;
        border: 5px solid rgb(201, 124, 2);
        border-radius: 5px;
        background-color: #cd95f7;
    }

}

